<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head th:replace="core/head :: head">
    <meta charset="utf-8" />
  </head>

  <body class="container-fluid">
    <header th:replace="core/header :: header"></header>

    <div class="row">
      <div class="col-md-2">
        <nav th:replace="core/navbar :: navbar(routers=${routers})"></nav>
      </div>
      <div class="col-md-10">
        <h1>Register</h1>
        <th:block th:object="${examination}">
          <h4 th:text="|Examination: *{name} *{startDate} - *{endDate}|"></h4>
        </th:block>

        <form
          action="#"
          th:action="@{/register}"
          th:object="${examinee}"
          method="post"
        >
          <input
            type="hidden"
            th:field="*{examination.id}"
            th:value="*{examination.id}"
          />
          <div class="form-group">
            <label for="certificate"> Certificate</label>
            <select
              id="certificate"
              class="select-certificate form-control"
              th:field="*{certificateId}"
            ></select>
          </div>
          <div class="form-group">
            <label for="name"> Name </label>
            <input
              id="name"
              required="required"
              type="text"
              class="form-control"
              th:field="*{name}"
              name="name"
            />
            <small
              class="text-danger"
              th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}"
              >Name Error</small
            >
          </div>
          <div class="form-group">
            <label for="phone"> Phone </label>
            <input
              id="phone"
              class="form-control"
              required="required"
              type="text"
              th:field="*{phone}"
              name="phone"
            />
            <small
              class="text-danger"
              th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}"
              >Phone Error</small
            >
          </div>
          <div class="form-group">
            <label for="gender"> Gender </label>
            <select
              id="gender"
              class="select-gender form-control"
              th:field="*{gender}"
            ></select>
          </div>
          <div>
            <label for="identity"> Identity </label>
            <input
              id="identity"
              required="required"
              class="form-control"
              type="text"
              th:field="*{identity}"
              name="identity"
            />
            <small
              class="text-danger"
              th:if="${#fields.hasErrors('identity')}"
              th:errors="*{identity}"
              >Identity Error</small
            >
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary form-control"
              value="Apply"
            />
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="core/footer :: footer"></footer>
  </body>
</html>
