<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<footer th:fragment="footer">
    <p>FOOTER</p>

<!--    <div th:replace="fragments/forms.html :: formField(field='Name', value='John Doe',size='40')">-->
<!--    </div>-->
<!--    <div-->
<!--            th:replace="${#lists.size(data) > 0} ?-->
<!--            ~{fragments/menus.html :: dataPresent} :-->
<!--            ~{fragments/menus.html :: noData}">-->
<!--    </div>-->

    <!--    <table>-->
    <!--        <thead-->
    <!--                th:replace="fragments/tables.html :: fields(~{ :: .myFields})">-->
    <!--        <tr class="myFields">-->

    <!--            <th>Id</th>-->
    <!--            <th>Name</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody th:replace="fragments/tables.html :: tableBody(tableData=${data})"></tbody>-->
    <!--    </table>-->

</footer>
</html>
