<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<nav class="navbar-primary" th:fragment="navbar(routers)">
    <ul class="navbar-primary-menu">
        <li th:each="item: ${routers}">
            <a th:href="${item.url}">
                <span class="glyphicon glyphicon-list-alt">
                    <i th:class="${item.icon}"></i>
                </span>
                <span class="nav-label" th:text="${item.text}"></span>
            </a>
        </li>
    </ul>
</nav>
</html>